:root {
    --border-color: #ced4da;
    --editor-height: 250px;
    --editor-toolbar-height: 42px;
}

body {
    padding-top: 70px;
}

.logo-square {
    background-color:rgb(22, 22, 22);
    width: 20px;
    height: 20px;
}

.navbar-light .navbar-text {
    color: rgba(0,0,0,.9);
}

.ql-editor {
    white-space: pre-wrap !important;
}

.ql-right-link {
    margin-right: 5px;
    float: right;
}

pre {
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: .5em;
    -moz-tab-size: 3;
    tab-size: 2;
}

h1 {
    margin-bottom: 1rem;
}

.nav-tabs {
    border-bottom-style: none;
}

.nav-tabs .nav-link:hover {
    border-bottom-color: var(--border-color);
}

.nav-tabs .nav-link.active {
    border-color: var(--border-color);
    border-bottom-color: #fff;
    color: inherit;
}

.editor-toolbar, .editor, .vista-previa {
    border-color: var(--border-color) !important;
}

.editor-toolbar {
    border-top-right-radius: .25rem;
    height: var(--editor-toolbar-height);
}

.editor {
    height: var(--editor-height) !important;
}

.vista-previa {
    border: solid 1px;
    border-radius: 0.25rem;
    padding: 1rem 1rem 0;
    min-height: calc(var(--editor-toolbar-height) + var(--editor-height));
}

.vista-previa.active {
    display: flex;
}

.flex-text-wrap {
    min-width: 0;
    width: 100%;
}

.spinner-big {
    width: 3rem;
    height: 3rem;
}

div {
  word-wrap: break-word;
}

.post img {
    max-width: 100%;
}

.post hr {
    max-width: 85%;
    border-color: lightgray;
}
