[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
gunicorn = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
django-bootstrap4 = "*"
whitenoise = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.6"
