{% load urls_enunciados %}

<div class="card my-3">
    <div class="card-body">
        <h2 class="card-title">
            Ejercicio {{ enunciado.numero }}
            <small class="align-middle"><a class="badge badge-primary align-middle"
                href="{% url_enunciado materia_carrera enunciado %}">
                {% with cant_soluciones=enunciado.soluciones.count %}
                    {{ cant_soluciones }}
                    {% if cant_soluciones == 1 %}
                        solución
                    {% else %}
                        soluciones
                    {% endif %}
                {% endwith %}
            </a></small>
        </h2>
        <p class="card-text">
            {{ enunciado.versiones.ultima|linebreaks }}
        </p>
        <a class="card-link"
            href="{% url_editar_enunciado materia_carrera enunciado %}">
            <span class="fas fa-pen"></span> Editar
        </a>
        <a class="card-link"
            href="{% url_versiones_enunciado materia_carrera enunciado %}">
            <span class="fas fa-undo"></span> Versiones anteriores
        </a>
    </div>
</div>