{% extends "base.html" %}
{% block content %}

{% load urls_enunciados %}

<a href="{{ materia_carrera.get_absolute_url }}" class="important">
    {{ materia_carrera }}
</a>
<h1 style="display: inline">&nbsp;/ {{ conjunto }}</h1>
{% for enunciado in conjunto.enunciado_set.all %}
<div style="display: block; margin-top: 20px;">
    <h2 style="display: inline">
        Ejercicio {{ enunciado.numero }}
    </h2>
    <a href="{% url_enunciado materia_carrera enunciado %}" class="important">

        {% with cant_soluciones=enunciado.soluciones.count %}
        {{ cant_soluciones }}
        {% if cant_soluciones == 1 %}
        solución
        {% else %}
        soluciones
        {% endif %}
        {% endwith %}
    </a>
    <p>
        {{ enunciado.versiones.ultima }}
    </p>
    {% include 'enunciados/acciones_enunciado.html' %}
</div>
<hr />
{% empty %}
<div style="display: block; margin-top: 20px;">
    Todavía no hay enunciados. <a href="{{ url_nuevo_enunciado }}"> ¿Querés agregar uno? </a>
</div>
{% endfor %}
{% if conjunto.enunciado_set.all %}
<p>
    <a href="{{ url_nuevo_enunciado }}"> Agregar ejercicio </a>
</p>
{% endif %}
{% endblock %}