<h1> {{ conjunto }} </h1>
{% for enunciado in conjunto.enunciado_set.all %}
    <h2><a href="{{ enunciado.get_absolute_url }}">Ejercicio {{ enunciado.numero }}</a></h2>
    <p>{{ enunciado.versiones.ultima }}</p>
{% empty %}
    Todavía no hay enunciados. <a href="{% url 'agregar_enunciado' materia=conjunto.materia %}"> ¿Querés agregar uno? </a>
{% endfor %}
{% if conjunto.enunciado_set.all %}
    <a href="{% url 'agregar_enunciado' materia=conjunto.materia %}"> Agregar enunciado. </a>
{% endif %}