{% extends "base.html" %}
{% block content %}

<a href="{{ conjunto.materia.get_absolute_url }}" class="important">
    {{ conjunto.materia }}
</a> /
<a href="{{ conjunto.get_absolute_url }}" class="important">{{ conjunto }}</a>
<h1 style="display: inline">&nbsp;/ {{ enunciado }} </h1>
<p>
    {{ enunciado.versiones.ultima }}
</p>
{% include 'enunciados/acciones_enunciado.html' %}

<h2> Soluciones </h2>
{% for solucion in enunciado.soluciones.all %}
    <p>
        {{ solucion }}

        {% include 'enunciados/acciones_solucion.html' %}
    </p>
    <hr>
{% empty %}
    Todavía no hay soluciones <a href="{{ url_solucion }}">
      ¿Querés agregar una? </a>
{% endfor %}
{% if enunciado.soluciones.all %}
    <a href="{{ url_solucion }}"> Agregar solución </a>
{% endif %}

{% endblock %}
