{% extends "base.html" %}
{% block content %}

{% load urls_conjuntos %}
<h1>{{ enunciado }}</h1>
<p>
    {{ enunciado.versiones.ultima }}
</p>

<h2> Soluciones </h2>
{% for solucion in enunciado.soluciones.all %}
    <p>
        {{ solucion }}
    </p>
    {% include 'enunciados/acciones_solucion.html' %}
    <hr>
{% empty %}
    Todavía no hay soluciones <a href="{{ url_agregar_solucion }}">
      ¿Querés agregar una? </a>
{% endfor %}
{% if enunciado.soluciones.all %}
    <a href="{{ url_agregar_solucion }}"> Agregar solución </a>
{% endif %}

{% endblock %}
