{% extends "base.html" %}
{% block content %}

{% load urls_conjuntos %}
{% load urls_enunciados %}
{% load static %}

{% include "enunciados/header_enunciado.html" %}

<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="{% static 'enunciados/votos.js' %}"></script>

<a class="mr-3"
    href="{% url_editar_enunciado materia_carrera enunciado %}">
    <span class="fas fa-pen"></span> Editar
</a>
<a href="{% url_versiones_enunciado materia_carrera enunciado %}">
    <span class="fas fa-undo"></span> Versiones anteriores
</a>

<h2 class="mt-4"> Soluciones </h2>
<hr>
{% for solucion in enunciado.soluciones.all %}

    <div class="row mb-3">
        <div class="col-auto">
            <div id="votar-arriba-{{ solucion.id }}" onclick="apretarFlechaArriba({{ solucion.id }})" style="cursor: pointer; color: lightgrey;"><span
                class="fas fa-caret-up col-md-1 fa-2x"></span></div>
            <!-- <button onclick="upvote({{ solucion.id }})">
                Votar arriba
            </button> -->
            <div class="text-center" style="font-size: 1.3em;" id='puntos-{{ solucion.id }}'>{{ solucion.puntos }}</div>
            <!-- <button onclick="removeVote({{ solucion.id }})">
                Sacar voto
            </button> -->
            <div id="votar-abajo-{{ solucion.id }}" onclick="apretarFlechaAbajo({{ solucion.id }})" style="cursor: pointer; color: lightgrey;"><span
                class="fas fa-caret-down col-md-1 fa-2x"></span></div>
            <!-- <button onclick="downvote({{ solucion.id }})">
                Votar abajo
            </button> -->
        </div>
        <div class="col">
            {{ solucion|linebreaks }}
        </div>
    </div>
    {% include 'enunciados/acciones_solucion.html' %}
    <hr>
{% empty %}
    <p>Todavía no hay soluciones.</p>
{% endfor %}

<a class="btn btn-primary mb-4 font-weight-bold" href="{{ url_agregar_solucion }}">
    + Agregar solución
</a>

{% endblock %}
