{% extends "base.html" %}
{% block content %}

{% load cuatrimestres %}

<h1> {{ materia.nombre }} </h1>
<h2>Prácticas{% if practicas %} del {{ practicas.0.cuatrimestre|texto_cuatrimestre }} del {{ practicas.0.anio }} {% endif %}</h2>
{% for practica in practicas %}
    <a href="{{ practica.get_absolute_url }}">
        Práctica {{ practica.numero }}</a><br>
{% empty %}
    Todavía no hay prácticas.
{% endfor %}
<p><a href="{{ url_agregar_practica }}">Agregar práctica</a></p>

{% for numero, parciales_actuales in parciales.items %}
    <h2>{{ parciales_actuales.0.ordinal.plural }} Parciales</h2>
    {% for parcial in parciales_actuales %}
        <a href="{{ parcial.get_absolute_url }}">
            {{ parcial }}
        </a><br>
    {% endfor %}
{% empty %}
    <h2> Parciales </h2>
    Todavía no hay parciales.
{% endfor %}
<p><a href="{{ url_agregar_parcial }}">Agregar parcial</a></p>

<h2>Finales</h2>
{% for final in finales %}
    <a href="{{ final.get_absolute_url }}">{{ final }}</a><br>
{% empty %}
    Todavía no hay finales.
{% endfor %}
<p><a href="{{ url_agregar_final }}">Agregar final</a></p>


{% endblock %}
