{% extends "base.html" %}
{% block content %}

<h1>{{ conjunto }}</h1>

<div class="alert alert-secondary" role="alert">
    {% if conjunto.archivo %}
        <a href="{{ conjunto.archivo.url }}">Archivo de enunciados</a>
        <small>¿Está mal? Cambialo:</small>
    {% else %}
        Todavía no hay archivo de enunciados. Subí uno:
    {% endif %}

    <form enctype="multipart/form-data" id="form" method="post"
          style="display: inline-block; margin-left: 4px">
        {% csrf_token %}
        <small>
        {{ archivo_de_conjunto_de_enunciados_form.archivo }}
        <input type="submit" value="Subir" class="float-right"/>
        </small>
    </form>
</div>

{% for enunciado in conjunto.enunciado_set.all %}
{% include "enunciados/card_enunciado.html" %}
{% empty %}
<div class="alert alert-secondary" role="alert">
    Todavía no hay ejercicios.
</div>
{% endfor %}
<a class="btn btn-primary mb-3 font-weight-bold" href="{{ url_nuevo_enunciado }}">
    + Agregar ejercicio
</a>

{% endblock %}