<div id="toolbar" class="editor-toolbar">
    <span class="ql-formats">
        <button id="toolbar-formula" class="fas fa-square-root-alt small" type="button"></button>
        <button id="toolbar-code" class="fas fa-code small" type="button"></button>
    </span>
    <span class="ql-formats">
        <button id="toolbar-header" class="fas fa-heading small" type="button"></button>
        <button id="toolbar-bold" class="fas fa-bold small" type="button"></button>
        <button id="toolbar-italic" class="fas fa-italic small" type="button"></button>
    </span>
    <a href="https://math.meta.stackexchange.com/q/5020/386164"
       target="_blank" rel="noopener noreferrer" class="ql-right-link">
        <small>Guía de formato</small>
    </a>
</div>
<div id="editor" class="rounded-bottom tex2jax_ignore editor">
    {% if field.value %}
        {{ field.value|linebreaksbr }}
    {% endif %}
</div>
<textarea id="hidden_textarea" style="display: none" name="{{ field.html_name }}"></textarea>
