{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block scripts %}
{% include 'enunciados/quill_scripts.html' %}
{% endblock %}

{% block content %}

<h1 class="mb-3">Editar ejercicio</h1>

<form id="form" method="post">
    {% csrf_token %}
    {% bootstrap_form enunciado_form %}
    {% include 'enunciados/form_errors.html' with errors=enunciado_form.numero.errors %}
    {% include 'enunciados/editor_con_vista_previa.html' with field=version_texto_form.texto %}
    {% include 'enunciados/form_errors.html' with errors=version_texto_form.texto.errors %}
    <div class="mt-3">
        {% buttons submit="Guardar "%}{% endbuttons %}
    </div>
</form>

<script type="text/javascript" src="{% static 'enunciados/editor.js' %}"></script>

{% endblock %}
