{% extends "base.html" %}
{% block content %}

{% load format_post %}
{% load urls_conjuntos %}
{% load urls_enunciados %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

{% include "enunciados/header_enunciado.html" %}

{% if enunciado.versiones.ultima.texto %}
<a class="mr-3"
    href="{% url_editar_enunciado materia_carrera enunciado %}">
    <span class="fas fa-pen"></span> Editar
</a>
<a href="{% url_versiones_enunciado materia_carrera enunciado %}">
    <span class="fas fa-undo"></span> Versiones anteriores
</a>

<hr>
{% endif %}

<h2 class="mt-4"> Soluciones </h2>
<hr>
{% for solucion, voto in soluciones_con_votos %}
    {{ solucion|format_post }}
    {% include 'enunciados/acciones_solucion.html' %}
    <hr>
{% empty %}
    <p>Todavía no hay soluciones.</p>
{% endfor %}

<a class="btn btn-primary mb-4 font-weight-bold" href="{{ url_agregar_solucion }}">
    + Agregar solución
</a>

{% endblock %}
