{% load format_post %}
{% load urls_enunciados %}

<h1>{{ enunciado }}</h1>
<hr>
<p class="mt-3">
    {% if enunciado.versiones.ultima.texto %}
        {{ enunciado.versiones.ultima|format_post }}
    {% else %}
        <div class="alert alert-secondary" role="alert">
            Este ejercicio todavía no tiene texto. Podés verlo en el
            <a href="{{ enunciado.conjunto.archivo.url }}">archivo de enunciados</a>
            o <a href="{% url_editar_enunciado materia_carrera enunciado %}">transcribirlo</a>.
        </div>
    {% endif %}
</p>
