{% for version in versiones.all %}
    <h3 class="mb-3">{{ version.tiempo }}
        {% if forloop.counter0 > 0 %}
            <form class="d-md-inline d-none" method="post">
                {% csrf_token %}
                <input type="text" name="version_pk" value="{{ version.pk }}" hidden />
                <button type="submit" class="btn btn-link py-0">
                    <span class="fas fa-undo"></span> Volver a esta versión
                </button>
            </form>
        {% endif %}
    </h3>
    {% include "enunciados/post.html" with post=version %}
    {% if forloop.counter0 > 0 %}
        <form class="d-md-none" method="post">
            {% csrf_token %}
            <input type="text" name="version_pk" value="{{ version.pk }}" hidden />
            <button type="submit" class="btn btn-link pl-0 py-0">
                <span class="fas fa-undo"></span> Volver a esta versión
            </button>
        </form>
    {% endif %}
    <hr/>
{% endfor %}
