{% extends "base.html" %}
{% block content %}


<h4 style="text-align: center;">
    Bienvenido a <strong>Cuedé</strong>! La página de soluciones colaborativas a los ejercicios de la facu.
</h4>


<hr>
<h1>Materias</h1>
<div class="row mt-3">
    <div class="col-md">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Tronco común</h1>
                <ul class="pl-3">
                    {% for materia_carrera in materias_obligatorias %}
                    <li>
                        <h5>
                            <a href="{{ materia_carrera.get_absolute_url }}">
                                {{ materia_carrera.nombre }}
                            </a>
                        </h5>
                    </li>
                    {% empty %}
                    <li>No hay materias.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <h2 class="card-title">Optativas</h1>
                <ul class="pl-3">
                    {% for materia_carrera in materias_optativas %}
                    <li>
                        <h5>
                            <a href="{{ materia_carrera.get_absolute_url }}">
                                {{ materia_carrera.nombre }}
                            </a>
                        </h5>
                    </li>
                    {% empty %}
                    <li>No hay materias.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}
