{% extends "base.html" %}
{% load static %}
{% block scripts %}
{% include 'enunciados/quill_scripts.html' %}
{% endblock %}

{% block content %}

{% load bootstrap4 %}
{% load list %}

<h1>Nuevo ejercicio</h1>

<form id="form" method="post">
    {% csrf_token %}

    {% bootstrap_field enunciado_form.numero layout='inline' %}
    {% bootstrap_form_errors enunciado_form layout='inline' %}
    {% if conjunto.archivo %}
        {% include 'enunciados/checkbox-nuevo-enunciado.html' %}
    {% endif %}
    <div id="editor-container" class="collapse show">
        <div class="mb-3" >
            {% include 'enunciados/editor_con_vista_previa.html' with field=version_texto_form.texto %}
        </div>
        <div id="empty-text-error" class="mb-3" hidden="">
            {% bootstrap_form_errors version_texto_form layout='inline' %}
            {% list 'El texto no puede estar vacío.' as errors %}
            {% include 'enunciados/form_errors.html' with errors=errors %}
        </div>
    </div>
    {% buttons submit='Crear' %}{% endbuttons %}
</form>

<script type="text/javascript" src="{% static 'enunciados/editor.js' %}"></script>
{% if conjunto.archivo %}
<script type="text/javascript" src="{% static 'enunciados/checkbox-usar-archivo.js' %}"></script>
{% endif %}
{% endblock %}
