{% extends "base.html" %}
{% load static %}
{% block scripts %}
{% include 'enunciados/quill_scripts.html' %}
{% endblock %}

{% block content %}

{% load bootstrap4 %}

<h1>Nuevo ejercicio</h1>

<form id="form" method="post">
    {% csrf_token %}

    {% bootstrap_field enunciado_form.numero layout='inline' %}
    {% bootstrap_form_errors enunciado_form layout='inline' %}
    {% if conjunto.archivo %}
    <input id="editor-disable-checkbox" class="mb-3" type="checkbox">
    <span class="ml-1">
        Usar enunciado de <a href="{{ conjunto.archivo.url }}">Archivo de enunciados<a>
    </span>
    {% endif %}
    <div id="editor-container" class="collapse show">
        <div class="mb-3" >
            {% include 'enunciados/quill_form_widget.html' with field=version_texto_form.texto %}
        </div>
    </div>
    {% bootstrap_form_errors version_texto_form layout='inline' %}
    {% buttons submit='Crear' %}{% endbuttons %}
</form>

<script type="text/javascript" src="{% static 'enunciados/editor.js' %}"></script>
{% if conjunto.archivo %}
<script type="text/javascript" src="{% static 'enunciados/checkbox-usar-archivo.js' %}"></script>
{% endif %}
{% endblock %}
