{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block scripts %}
{% include 'enunciados/quill_scripts.html' %}
{% endblock %}

{% block content %}
{% include "enunciados/header_enunciado.html" %}

<h2 class="mb-3">Solución</h2>
{% bootstrap_form_errors form %}
<form id="form" method="post">
    {% csrf_token %}
    {% include 'enunciados/editor_con_vista_previa.html' with field=form.texto %}
    {% buttons %}
        <input class="mt-3" type="submit" value="{{texto_boton}}" />
    {% endbuttons %}
</form>

<script type="text/javascript" src="{% static 'enunciados/editor.js' %}"></script>

{% endblock %}
