<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab-escribir" data-toggle="tab" href="#escribir" role="tab"
           aria-controls="escribir" aria-selected="true">Escribir</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-vista-previa" data-toggle="tab" href="#vista-previa" role="tab"
           aria-controls="vista-previa" aria-selected="false">Vista previa</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane show active" id="escribir" role="tabpanel" aria-labelledby="tab-escribir">
        {% include 'enunciados/editor.html' %}
    </div>
    <div class="tab-pane border-top vista-previa" id="vista-previa" role="tabpanel"
         aria-labelledby="tab-vista-previa">
        <div id="contenido-vista-previa" class="flex-text-wrap"></div>
        <div id="spinner-vista-previa" class="spinner-big spinner-grow m-auto text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

