<div id="toolbar" class="editor-toolbar">
    <span class="ql-formats">
        <button id="toolbar-formula" class="fas fa-square-root-alt small" type="button"></button>
        <button id="toolbar-code" class="fas fa-code small" type="button"></button>
    </span>
    <span class="ql-formats">
        <button id="toolbar-header" class="fas fa-heading small" type="button"></button>
        <button id="toolbar-bold" class="fas fa-bold small" type="button"></button>
        <button id="toolbar-italic" class="fas fa-italic small" type="button"></button>
    </span>
    <span class="ql-formats">
        <button id="toolbar-link" class="fas fa-link small" type="button"></button>
        <button id="toolbar-image" class="fas fa-image" type="button"></button>
    </span>
    <span class="ql-formats">
        <button id="toolbar-unordered-list" class="fas fa-list-ul" type="button"></button>
        <button id="toolbar-ordered-list" class="fas fa-list-ol" type="button"></button>
    </span>
    {% include 'enunciados/editor/dropdown-guia-de-formato.html' %}
</div>
