{% load static %}
<html>

<head>
  <title>qed</title>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 0%;
      color: rgb(22, 22, 22);
    }

    .content {
      margin-top: 70px;
      margin-left: 12%;
      margin-right: 12%;
    }
  </style>
</head>

<body>
  {% include "navbar.html" %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>