{% load static %}
<html>
<head>
  <title>qed</title>
  <script type="text/javascript"
	      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <style>
    .logo {
      background-color:black;
      width: 40px;
      height: 40px;
    }
  </style>
</head>
<body>

  <table>
    <tr>
      <td>
        <div class="logo"></div>
      </td>
      <td>
        <h1>qed</h1>
      </td>
    </tr>
  </table>
  <!-- <img src="{% static "/img/cubo.png" %}" alt="Logo"> -->


  {% if user.is_authenticated %}
    <p>
      Hola {{ user.username }}, estás logueado.
      <a href="{% url 'logout' %}">logout</a>
    </p>
  {% else %}
    <p>
      No estás logueado che.
      <a href="{% url 'login' %}">login</a>
    </p>
  {% endif %}


  {% block content %}{% endblock %}

</body>
</html>
