<style>
    #logo {
        background-color: white;
        padding: 0;
        margin-right: 5px;
    }

    .logo-square {
        background-color:rgb(22, 22, 22);
        width: 30px;
        height: 30px;
    }

    .logo-text {
        display: table-cell;
        vertical-align: middle;
    }

    .navbar {
        display: table-row;
        list-style-type: none;
        margin: 0;
        padding: 0 5%;
        position: fixed;
        top: 0;
        width: 90%;
        border-bottom: 1px solid black;
        background-color:white;
        text-align: center;
    }

    .navbar li {
        float: left;
        line-height: 40px;
        font-weight: bold;
    }

    .navbar a {
        display: block;
        text-align: center;
        color: rgb(22, 22, 22);
        text-decoration: none;
        padding: 0 10px;
    }

    .navbar li.logueo {
        margin-left: 5px;
        float: right;
    }

    .boton-logueo {
        background-color: rgb(22, 22, 22);
    }

    .boton-logueo a {
        color: white;
    }
</style>
<ul class="navbar">
    <li>
        <a href="/" id="logo">
            <table>
                <tr>
                    <td>
                        <div class="logo-square"></div>
                    </td>
                    <td>
                        <h2 class="logo-text">qed</h2>
                    </td>
                </tr>
            </table>
        </a>
    </li>
    <li>
        <a href="{% url 'agregar_enunciado' %}">
            Agregar ejercicio
        </a>
    </li>
    <li>
        <a href="{% url 'materias' %}">
            Materias
        </a>
    </li>

    {% if user.is_authenticated %}
        <li class="logueo boton-logueo">
            <a href="{% url 'logout' %}">logout</a>
        </li>
        <li class="logueo">
            Hola {{ user.username }}, estás logueado.
        </li>
        {% else %}
        <li class="logueo boton-logueo">
            <a href="{% url 'login' %}">login</a>
        </li>
        <li class="logueo">
            No estás logueado che.
        </li>

        {% endif %}
    </li>
</ul>