<style>
    #logo {
        padding: 0;
        margin-right: 5px;
    }

    .logo-square {
        background-color:rgb(22, 22, 22);
        width: 30px;
        height: 30px;
    }

    .logo-text {
        display: table-cell;
        vertical-align: middle;
    }

    .navbar {
        display: table-row;
        list-style-type: none;
        margin: 0;
        padding: 0 5%;
        position: fixed;
        top: 0;
        width: 90%;
        border-bottom: 1px solid #222;
        background-color: #FcFcFc;
        text-align: center;
        box-shadow: 0px 0px 5px grey;
    }

    .navbar li {
        line-height: 40px;
        font-weight: bold;
    }

    .navbar li.izquierda {
        float: left;
    }

    .navbar li.derecha {
        float: right;
        margin-left: 5px;
    }

    .navbar a {
        display: block;
        text-align: center;
        color: rgb(22, 22, 22);
        text-decoration: none;
        padding: 0 10px;
    }

    .navbar a:hover {
        color: #666;
    }

    .navbar li.texto {
        font-weight: normal;
        color: #777;
    }

    .boton-oscuro {
        background-color: rgb(22, 22, 22);
    }

    .boton-oscuro a:hover {
        color: #DDD;
    }

    .boton-oscuro a {
        color: white;
    }
</style>
<ul class="navbar">
    <li class="izquierda">
        <a href="/" id="logo">
            <table>
                <tr>
                    <td>
                        <div class="logo-square"></div>
                    </td>
                    <td>
                        <h2 class="logo-text">qed</h2>
                    </td>
                </tr>
            </table>
        </a>
    </li>
    {% if carrera %}
    <li class="izquierda">
        <a href="{% url 'materias' carrera=carrera %}">
            Materias
        </a>
    </li>
    {% endif %}

    {% if user.is_authenticated %}
        <li class="derecha">
            <a href="{% url 'logout' %}">Salir</a>
        </li>
        <li class="derecha texto">
            Hola {{ user.username|title }}.
        </li>
        {% else %}
        <li class="derecha boton-oscuro">
            <a href="{% url 'signup' %}">Registrarse</a>
        </li>
        <li class="derecha">
            <a href="{% url 'login' %}">Entrar</a>
        </li>

        {% endif %}
    </li>
</ul>