{% extends "base.html" %}

{% block content %}

<h3>¿Qué es esta página?</h3>

<p>
  Somos un par de estudiantes de compu, y nuestra idea es que estudiar para los exámenes sea lo más colaborativo posible, pero para eso necesitamos gente copada que aporte!
</p>

<p>
  Si tenés preguntas/sugerencias/críticas, venite al <a href="https://t.me/joinchat/BhNicBHQrC4XxaSAD1xxNg">canal de telegram</a>.
</p>

<p>
  Unite aportando con código, enunciados, soluciones, o hasta ideas, todo sirve! Con vos podemos hacer que sea la herramienta que le faltaba a todos los estudiantes!
</p>

<p>
  Links:
  <ul>
    <li>
      <a href="https://trello.com/b/v9runwuw/qed">Board de Trello</a> con cosas planeadas que puede venir a hacer cualquiera.
    </li>
    <li>
      <a href="https://github.com/cuede/qed">Repo del código en GitHub</a>.
    </li>
    <li>
      <a href="https://discord.gg/8HsNszC">Discord de desarrollo</a>.
    </li>
  </ul>
</p>

{% endblock %}
