{% extends "base.html" %}

{% block content %}

    <h1>¿Qué es esta página?</h1>
    <hr/>
    <p>
        <strong>Cuedé</strong> es una página de soluciones colaborativas a los ejercicios de la facu. ¿Qué quiere decir
        esto? Que cualquier estudiante puede subir un enunciado de una práctica, parcial o final, y llegar a
        una solución con los otros estudiantes para que quede para el próximo que lo mire. También, cualquiera puede
        editar tanto el enunciado como la solución, haciendo que se mejore cada vez más cada una!
    </p>

    <p>
        Si tenés preguntas/sugerencias/críticas, venite al
        <a href="https://t.me/joinchat/BhNicBHQrC4XxaSAD1xxNg">canal de Telegram</a>.
        Si querés ver cómo viene el desarrollo, podés
        <a href="https://discord.gg/8HsNszC">unirte al Discord de desarrollo</a> o mirar las cosas que hay para hacer
        en <a href="https://trello.com/b/v9runwuw/qed">el board de Trello</a>.
        Si querés aportar con código, ¡sos un capo! Acá tenés el
        <a href="https://github.com/cuede/qed">repo en GitHub</a>. El código está escrito en Python con el framework
        Django.
    </p>

    <p>
        Unite aportando con código, enunciados, soluciones, o hasta ideas, todo sirve! Con vos podemos hacer que
        <strong>Cuedé</strong> sea la herramienta que le faltaba a todos los estudiantes! 💪
    </p>

{% endblock %}
